<p>
<%= l(:label_alert_watchers) %><%= f.check_box :alert_watchers %> <%# check_box_tag  "[alert]alert_watchers", f.form_for.alert_watchers %>
<%= l(:label_alert_members) %><%= f.check_box :alert_project_members %><%# check_box_tag  "[alert]alert_project_members", f.form_for.alert_project_members %>
</p>
<p>
<%= l(:alert_label_comment) %><%= f.text_field :comment%>
</p>